@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes contentAppear {
    from {
        opacity: 0;
        transform: translate(-3rem); 
        width: 0%; 
    }

    to {
        opacity: 1;
        transform: translate(0rem); 
        width: 100%; 
    }
}

.container {
    opacity: 0; /* Скрываем элемент изначально */
    
}

.visible {
    opacity: 1; /* Показываем элемент при добавлении класса */
    animation: fadeIn 5s forwards; /* Запускаем анимацию */
}

.visibleContent {
    opacity: 1; /* Показываем элемент при добавлении класса */
    animation: contentAppear 3s forwards; /* Запускаем анимацию */
}

.container p {
    /* font-family: "Cormorant SC", serif; */
    text-wrap: pretty;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    
}

.container {
    height: 100vh;
    /* background-color: rgb(216, 208, 193); */
    

}

.gridWrapper {
   
    display: grid;
    padding-top: 0;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.1rem;
    grid-auto-rows: min-content;

    
}

.gridWrapper .box {
    width: 90%;
    height: 90%;
    display:flex;
    
}
.container h3{
    /* font-family: "Cormorant SC", serif; */
    text-wrap: pretty;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin:0;
    color:white;
}
.gridWrapper .box img {
    margin: auto;
    padding: auto;
    width: 5rem;
    height: 5rem;
    filter: brightness(0) invert(1);
}

.gridWrapper .box p {
    
    margin: auto;
    padding: auto;
    width: 10rem;
    height: 3rem;
    color:white;
}

@media(min-width: 1200px) {
    .container {
        height: auto; 
    }

    .gridWrapper p{
        padding-right: 70%;
        
    }

    .gridWrapper img{
        padding-left: 70%;
    }

    .gridWrapper {
        padding-bottom: 4rem;
    }
}

