.visible {
    opacity: 1; /* Показываем элемент при добавлении класса */
    animation: fadeIn 5s forwards; /* Запускаем анимацию */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.container {
    /* font-family: "Cormorant SC", serif; */
    height: 45lvh;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    position:relative;
    /* background-color: #fdf5e6; */
    opacity: 0; /* Скрываем элемент изначально */
    -webkit-box-shadow: 6px 7px 83px -10px rgba(57, 73, 114, 0.81) inset;
-moz-box-shadow: 6px 7px 83px -10px rgba(57, 73, 114, 0.81) inset;
box-shadow: 6px 7px 83px -10px rgba(57, 73, 114, 0.81) inset;

    
}
.container p {
   
    text-wrap: pretty;
    /* font-family: "Cormorant SC", serif; */
    text-align: center;
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    margin:0;
    padding-top: 2rem;
}

.radioGroup {
    padding-left: 30%;
    /* font-family: "Cormorant SC", serif; */
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;

}
.button {
    display:block;
    margin: auto;
    margin-top: 1rem;
    width:50%;
    height: 10%;
    margin-top: 2rem;
    background-color:rgba(57, 73, 114, 1);
    color:rgb(255, 255, 255);
    border-radius: 0.5rem;
    border: 0.05rem solid;
    font-size: 1rem;
    /* font-family: "Cormorant SC", serif; */
   

}

.submitText {
    padding-top:2rem;
}






