.container {
    opacity: 0; /* Скрываем элемент изначально */
  
}

.visible {
    opacity: 1; /* Показываем элемент при добавлении класса */
    animation: fadeIn 5s forwards; /* Запускаем анимацию */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.container p {
    font-family: "Cormorant SC", serif;
    text-wrap: pretty;
    text-align: center;
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.container p:last-of-type {
    padding-top: 8rem;
}

.container p:first-child {
    padding-top: 3rem;
}

.container {
    height: 100vh;
    position: relative;
    background-color: #fdf5e6;
}

.container table {
    padding-top: 4rem;
    display:flex;
    justify-content: center;
    margin:auto;
    width: 70vw;
}
.container td {
    height: 8vh;
    width: 8vh;
}

.container tr {
    border: 0.1rem solid black;
}

.line {
    margin-top: 90%;
}


@media (min-width: 1200px) {
    .container {
        height: 40vh;
    }
}