
.visible {
    opacity: 1; /* Показываем элемент при добавлении класса */
    animation: fadeIn 5s forwards; /* Запускаем анимацию */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@font-face {
    font-family: CeremonoiusOne;
    src: url("/src/fonts/ceremoniousone.ttf") format("opentype");
    
}



.container {
    padding-top: 3rem;
    
    position:relative;
    opacity: 0; /* Скрываем элемент изначально */
    -webkit-box-shadow: 6px 7px 83px -10px rgba(57, 73, 114, 0.81) inset;
    -moz-box-shadow: 6px 7px 83px -10px rgba(57, 73, 114, 0.81) inset;
    box-shadow: 6px 7px 83px -10px rgba(57, 73, 114, 0.81) inset;
    

}

.greeting {    
    font-size: 4rem;
    font-weight: 500;
    font-family: CeremonoiusOne, cursive;
    margin: 0;
    margin-bottom: 0rem;
    color: #394972;

    

}

.greetingContainer {
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
    justify-items: center;

    h2:nth-child(2){
        margin-bottom: 3rem;
    }
}

.text{
    font-size: 1.5rem; 
    font-family: Cormorant;
    text-wrap: pretty;
    width:40%;
    margin-bottom: 0.5rem;
    margin-top: 0;
    align-self: center;
    color: #394972;
    margin-left:0%;
}   

.photo {
    width:30%;
    align-self: center;
    margin-top: 2%;
    margin-bottom: 5%;
}

.cake {
    width: 15%;
    margin-bottom: 5%;
    margin-left: 20%;
}






@media (max-width: 760px){

    /* .container {
        height: 100lvh;
    } */
    .container .greeting {
        font-size: 3rem;
        margin-bottom: 0.1rem;


        

    }

    .container .text{
        text-align: center;
        font-size: 1.1rem;
        width:80%;
         }

    .photo {
        margin-top: 5%;
        width:80%;
        margin-bottom: 10%;
        
    }

    .cake {
        margin-left: 10%;
        margin-top: 10%;
        width: 50%;
        
    }

    .greetingContainer{
        h2:nth-child(2){
            margin-bottom: 1rem;
        }
    }
}