
.visible {
    opacity: 1; /* Показываем элемент при добавлении класса */
    animation: fadeIn 5s forwards; /* Запускаем анимацию */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@font-face {
    font-family: Brachetto;

    src: url("./font/Brachetto.ttf") format("opentype");
    

}

.container {
    padding-top: 3rem;
    height: 100lvh;

    position:relative;
    opacity: 0; /* Скрываем элемент изначально */
    -webkit-box-shadow: 6px 7px 83px -10px rgba(57, 73, 114, 0.81) inset;
    -moz-box-shadow: 6px 7px 83px -10px rgba(57, 73, 114, 0.81) inset;
    box-shadow: 6px 7px 83px -10px rgba(57, 73, 114, 0.81) inset;
    

}

.greeting {    
    font-size: 4rem;
    font-weight: 100;
    font-family: Great Vibes, cursive;
    margin: 0;
    

}

.greetingContainer {
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center
}

.text{
    font-size: 1.7rem; 
    font-family: "Cormorant SC", serif;
    text-wrap: pretty;
    margin-bottom: 0.5rem;
    margin-top: 0;
}





@media (max-width: 760px){
    .container .greeting {
        padding-bottom: 1rem;
        font-size: 2.5rem;

        

    }

    .container .text{
        text-align: start;
        font-size: 1.2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-left:1rem;


        
    }
}