

.app {

    height: 100vh;
    
}

body {
    margin: 0;
    padding:0;
}

@media (min-width: 1200px){
    .rowContainerPlaces {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
      }

    .rowContainerDresses {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
}

h1, h3, p, label, button {
    font-family: "Cormorant SC", serif;
}