@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes contentAppear {
    from {
        opacity: 0;
        transform: translate(-3rem); 
        width: 0%; 
    }

    to {
        opacity: 1;
        transform: translate(0rem); 
        width: 100%; 
    }
}

.container {
    opacity: 0; /* Скрываем элемент изначально */

}

.visible {
    opacity: 1; /* Показываем элемент при добавлении класса */
    animation: fadeIn 5s forwards; /* Запускаем анимацию */
}

.visibleContent {
    opacity: 1; /* Показываем элемент при добавлении класса */
    animation: contentAppear 3s forwards; /* Запускаем анимацию */
}

.container p {
    /* font-family: sans-serif; */
    text-wrap: pretty;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    
}

.container {
    height: 100vh;
    -webkit-box-shadow: 6px 7px 83px -10px rgba(57, 73, 114, 0.81) inset;
-moz-box-shadow: 6px 7px 83px -10px rgba(57, 73, 114, 0.81) inset;
box-shadow: 6px 7px 83px -10px rgba(57, 73, 114, 0.81) inset;
    
}

h3{
    font-family: "Cormorant SC", serif;
    font-weight: 200;
    text-wrap: pretty;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin:0;
}

.point {
    width: 100%;
    display: flex;
}

.point img { 
    width: 80%;
    margin:  auto;
}

@media (min-width:1000px) {
    .point img { 
        width: 30rem;
        margin:  auto;
        height: 30rem;
    }

    .container {
        width: 50%;
        height: auto;
    }
}
