
.main {
    display: flex;
    justify-content: center;
    user-select: none;
    height: 1500px;
    background-color: #fdf5e6;
    padding-bottom: 0px;        
}

.photo {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.textNormal {
    font-family: "Cormorant SC", serif;
    position:absolute;
    color: white;
    font-size: 50px;
    
}

.textCursive {
    font-family: Great Vibes, cursive;
    position:absolute;
    color: white;
    font-size: 50px;
}


#pavel {
    top: 5%;
    left: 23%;
}

#and {
    top: 10%;
    left: 45%;
}

#vera {
    top: 10%;
    left: 58%;
}

@media (max-width: 600px) {
    #pavel {
        top: 5%;
        left: 18%;
    }
    
    #and {
        top: 10%;
        left: 45%;
    }
    
    #vera {
        top: 10%;
        left: 65%;
    }
}

@media (min-width: 1300px) {
    .textCursive {
        font-size: 100px;
    }

    .textNormal {
        font-size: 100px;
    }
    
    #pavel {
        top: 0%;
        left: 80%;
    }
    
    #and {
        top: 5%;
        left: 80%;
    }
    
    #vera {
        top: 10%;
        left: 80%;
    }


}

@media (min-width: 2400px) {
    .textCursive {
        font-size: 100px;
    }

    .textNormal {
        font-size: 100px;
    }
    
    #pavel {
        top: 0%;
        left: 80%;
    }
    
    #and {
        top: 5%;
        left: 80%;
    }
    
    #vera {
        top: 10%;
        left: 80%;
    }


}