@keyframes slideTextNormal{
    from { 
        translate: 150vw 0;
    }
    to {
        translate: 0 0;
    }
}


@keyframes slideTextCursive{
    from { 
        translate: -150vw 0;
    }
    to {
        translate: 0 0;
    }
}

@keyframes slideDate{
    from { 
        translate: -150vw 0;
        transform: scale(0);
    }
    to {
        translate: 0 0;
        transform: scale(1);
    }
}

p {
    margin: 0;
}
.main {
    display: flex;
    justify-content: center;
    user-select: none;
    width: 100%;
    height: 105vh;
  
    padding-bottom: 0px;        
}

.photo {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* filter: blur(0.1rem); */

}


.textNormal {
    font-family: "Cormorant SC", serif;
    position:absolute;
    color: white;
    font-size: 50px;
    animation-name: slideTextNormal;
    animation-duration: 2s;
     
}

.textCursive {
    font-family: Great Vibes, cursive;
    position:absolute;
    color: white;
    font-size: 50px;
    animation-name: slideTextCursive;
    animation-duration: 2s;
}



#pavel {
    top: 5%;
    left: 23%;
}

#and {
    top: 10%;
    left: 45%;
}

#vera {
    top: 10%;
    left: 58%;
}

#date {
    top:90%;
    left: 25%;
    background-color: #fdf5e6;
    border-radius: 2rem;
    text-align: center;
    width:12rem;
    border: 0.1rem solid;
    font-family: "Cormorant SC", serif;
    position:absolute;
    animation-name: slideDate;
    animation-duration: 2s;
    font-size: 2rem;
}

@media (max-width: 600px) {
    #pavel {
        top: 5%;
        left: 18%;
    }
    
    #and {
        top: 15%;
        left: 45%;
    }
    
    #vera {
        top: 15%;
        left: 65%;
    }
}

@media (min-width: 1300px) {
    .textCursive {
        font-size: 100px;
    }

    .textNormal {
        font-size: 100px;
    }
    
    #pavel {
        top: 0%;
        left: 80%;
    }
    
    #and {
        top: 9%;
        left: 82%;
    }
    
    #vera {
        top: 15%;
        left: 80%;
    }


}

@media (min-width: 2400px) {
    .textCursive {
        font-size: 6rem;
    }

    .textNormal {
        font-size: 6rem;
    }
    
    #pavel {
        top: 5%;
        left: 87%;
    }
    
    #and {
        top: 12%;
        left: 87%;
    }
    
    #vera {
        top: 18%;
        left: 87%;
    }


}