@keyframes slideTextNormal {
    from { 
        transform: translateX(20vw);
        opacity: 0;              /* Начинать с прозрачности */
    }
    to { 
        transform: translateX(0);
        opacity: 1;              /* Заканчивать полной видимостью */
    }
}


@keyframes slideTextCursive{
    from { 
        translate: 0vw 0;
    }
    to {
        translate: 0 0;
    }
}

@keyframes slideDate{
    from { 
        translate: 0vw 0;
        transform: scale(0);
    }
    to {
        translate: 0 0;
        transform: scale(1);
    }
}

p {
    margin: 0;
}
.main {
    display: flex;
    justify-content: center;
    user-select: none;
    width: 100%;
    height: 100vh;
  
    padding-bottom: 0px;        
}

.photo {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* filter: blur(0.1rem); */

}


.textNormal {
    /* font-family: sans-serif; */
    position:absolute;
    color: white;
    font-size: 50px;
    animation: slideTextNormal 2s ease-out;
     
}

.textCursive {
    font-family: Great Vibes,cursive, serif;
    position:absolute;
    color: white;
    font-size: 50px;
    animation-name: slideTextCursive;
    animation-duration: 2s;
}



#pavel {
    top: 5%;
    left: 23%;
}

#and {
    top: 10%;
    left: 45%;
}

#vera {
    top: 10%;
    left: 58%;
}

#date {
    top:92.5%;
    left: 0%;
    /* background-color: #fdf5e6; */
    background-color: rgb(86, 85, 85);
    color:white;
    /* border-radius: 2rem; */
    text-align: center;
    width: 100%;
    border-top: 0.1rem solid;
    border-bottom: 0.1rem solid;

    /* font-family: sans-serif; */
    position:absolute;
    animation-name: slideDate;
    animation-duration: 2s;
    font-size: 2.5rem;
    font-weight: 500;
}

@media (max-width: 600px) {
    #pavel {
        top: 5%;
        left: 18%;
    }
    
    #and {
        top: 15%;
        left: 45%;
    }
    
    #vera {
        top: 15%;
        left: 65%;
    }
}

@media (min-width: 1300px) {
    .textCursive {
        font-size: 100px;
    }

    .textNormal {
        font-size: 100px;
    }
    
    #pavel {
        top: 0%;
        left: 80%;
    }
    
    #and {
        top: 9%;
        left: 82%;
    }
    
    #vera {
        top: 15%;
        left: 80%;
    }

    #date {
        left: 45%;
    }


}

