.men {
    font-size: 1.7rem;
    font-family: "Cormorant SC", serif;
    margin: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-align: center;
}

.slider {
    width: 100%;
    margin: 0 auto;
}

.container {

    height: 100vh;
    overflow: hidden;
    padding-left:1rem;
    padding-right: 1rem;
}

.photo {
    height: 80vh;
    width: 100%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.containerPhoto {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1200px) {
    .container {
        height: 50vh;
        width: 50%;
        padding-bottom: 6rem;
    }

    .containerPhoto {
        justify-self: center;
        height: 50vh;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .photo {
        height: 40vh;
        width: 60%;
        object-fit: cover;
        display: block;
        margin: 0 auto;
        border-radius: 3rem;
    }

    .slider {
        height: 45vh;
    }

    .men {
        padding-bottom: 0rem;
    }
}
